HELP.md
target/
.mvn/wrapper/maven-wrapper.properties
!**/src/main/**/target/
!**/src/test/**/target/
application.properties

.angular
frontend/node_modules/
frontend/dist/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



### VS Code ###
.vscode/


